$abyss: #07214f;
$snow: #fafefd;
$silver: #eaeaea;
$silverShade: #7d7e84;
$charcoal: #222;
$money: #23BA71;
$water: #41BCF2;

$unit: 35px;
$mobileUnit: 25px;
$header: $unit * 6;
$mobileHeader: $unit * 4;
$siteWidth: 1000px;

$mobile: 700px;

:export {
  abyss: $abyss;
  snow: $snow;
  silver: $silver;
  $silverShade: $silverShade;
  charcoal: $charcoal;
  money: $money;
  water: $water;
  mobile: $mobile
}
