$abyss: #07214f;
$snow: #fafefd;
$silver: #eaeaea;
$charcoal: #222;
$money: #23BA71;
$water: #41BCF2;

$unit: 35px;
$mobileUnit: 25px;

$mobile: 700px;

:export {
  abyss: $abyss;
  snow: $snow;
  silver: $silver;
  charcoal: $charcoal;
  money: $money;
  water: $water;
  mobile: $mobile
}
